/* about section styles */

.about {
  padding: 131px;
  margin: 130px 0;
  border-radius: 10px;
  background: #fff8f3;
}

.about_info_container {
  display: flex;
  justify-content: space-around;
}

.about_info {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}