/* footer styles */

footer {
    display: flex;
    background-color: #fff8f3;
    padding: 130px 230px;
    margin-top: 113px;
    gap: 117px;
}

footer .section_description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.footer_column {
    width: 50%;
}

.social_links a {
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

footer .section_title {
    color: #181818;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 0;
    width: 100%;
}

.contact input[placeholder],
.contact textarea[placeholder] {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    color: #757575;
}